<!doctype html>

{# 画像のジャンル #}
{% set category_name = "人物" %}
{% if is_background %}
    {% set category_name = "背景" %}
{% endif %}

{# 画像の性別 #}
{% set gender_name = "" %}
{# 背景ではなく人物画像なら、性別を明示 #}
{% if not is_background %}
    {% if is_male %}
        {% set gender_name = "男性" %}
    {% else %}
        {% set gender_name = "女性" %}
    {% endif %}
{% endif %}

{# 画像のオプション #}
{% set option_name = "" %}
{# 背景ではなく人物画像なら、透過やセルフィーなど通常との差分を明記 #}
{% if not is_background %}
    {% if is_transparent_background %}
        {% set option_name = option_name ~ "/" ~ "背景透過" %}
    {% endif %}
    {% if is_selfie %}
        {% set option_name = option_name ~ "/" ~ "セルフィー" %}
    {% endif %}
{% endif %}

{% set page_name = gender_name ~ option_name ~ "の高クオリティAI生成" ~ category_name ~ "画像" %}
{% set site_keyword = "AI, 画像生成, 背景透過, セルフィー, フリー素材" %}
{% include 'parts/header.html' %}

<!-- 元のページに戻るリンク -->
<a class="history-back-button" href="#" onclick="window.history.back(); return false;">Back</a>

<section class="container">
    <div class="card w-75 mx-auto overflow-hidden shadow-sm" style="max-width: 316px;">
        {% set image_name = image_files[0] %}
        {% include 'parts/subfolder_image_download_form.html' %}
    </div>
</section>

<section class="container">
    <h2>
        似ている画像
    </h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
        {% for image_file in image_files %}
            {% if loop.index > 1 %} {# 最初の画像をスキップ #}
                <div class="col">
                    <div class="card overflow-hidden shadow-sm">
                        {% set image_name = image_file %}
                        {% include 'parts/subfolder_image_download_form.html' %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% include 'parts/footer.html' %}