<!doctype html>

{% include 'parts/header.html' %}

<!-- 元のページに戻るリンク -->
<a class="history-back-button" href="#" onclick="window.history.back(); return false;">Back</a>

<section class="container">
    <div class="card w-75 mx-auto overflow-hidden shadow-sm" style="max-width: 316px;">
        {% set sample_image_file_without_suffix = image_files[0].replace("-thumbnail", "") %}
        <a href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" target="_blank">
            <img src="/images/{{ subfolder_name }}{{ thumbnail_folder }}/{{ image_files[0] }}/{{ add_param }}" alt="{{ image_files[0] }}" width="100%">
        </a>
        <div class="card-body">
            <a download 
            class="btn btn-dark d-block" href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
            onclick="gtag('event','download_image',{'url':'https://ai-gazou.com/images/{{ subfolder_name }}/{{ sample_image_file_without_suffix }}'});">
                ダウンロード
            </a>
        </div>
    </div>
</section>

<section class="container">
    <h2>
        似ている画像
    </h2>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
        {% for image_file in image_files %}
            {% if loop.index > 1 %} {# 最初の画像をスキップ #}
                <div class="col">
                    <div class="card overflow-hidden shadow-sm">
                        {% set sample_image_file_without_suffix = image_file.replace("-thumbnail", "") %}
                        <a href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" target="_blank">
                            <img src="/images/{{ subfolder_name }}{{ thumbnail_folder }}/{{ image_file }}/{{ add_param }}" alt="{{ image_file }}" width="100%">
                        </a>
                        <div class="card-body">
                            <a download 
                            class="btn btn-dark d-block" href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
                            onclick="gtag('event','download_image',{'url':'https://ai-gazou.com/images/{{ subfolder_name }}/{{ sample_image_file_without_suffix }}'});">
                                ダウンロード
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% include 'parts/footer.html' %}