<!doctype html>

{# ページタイトル #}
{% set page_name = "利用規約" %}
{% include 'common/header.html' %}

<section class="container">
    <h2>
        {{ page_name }}
    </h2>
    本サイトのコンテンツ（画像素材）は、以下の規約範囲内であれば個人･法人･商用･非商用を問わず無料でご利用いただけます。<br>
    使用用途は主にホームページバナーやSNSアイコンなどの作成素材としての提供を想定しており、規約の範囲内であれば自由に編集や加工をすることができます。<br>
    <span class="text-secondary">※本サイトに掲載されている画像への直リンクはサーバーに負荷をかけるため禁止します。必ずダウンロードしてご利用ください。</span>
</section>
<section class="container">
    <h3>
        禁止事項
    </h3>
    本サイトで配布しているコンテンツは、以下の行為を禁止します。
    <ul class="bullet-list my-2">
        <li class="my-1">
            公序良俗に反する目的、反社会的勢力や違法行為に関わる利用。差別・誹謗中傷を目的とした利用、その他当社（株式会社アイコール）が不適切と判断する利用。
        </li>
        <li class="my-1">
            コンテンツそのもの、または一部改変（ロゴの追加など）したものを、有償・無償を問わず、商品として販売すること。
        </li>
    </ul>
    その他、想定される使用用途から乖離した不適切な使用が発覚した場合、禁止事項に追加のうえ、ご利用をお断り致します。
</section>
<section class="container">
    <h3>
        免責事項
    </h3>
    <ul class="bullet-list my-2">
        <li class="my-1">
            当社（株式会社アイコール）は、本サイトのコンテンツを利用したことによって生じるいかなる損害についても、一切責任を負いません。
        </li>
        <li class="my-1">
            過去に制作したコンテンツは予告なく変更･削除する場合があります。
        </li>
        <li class="my-1">
            当社は、本サービス上のコンテンツの情報（コンテンツに係る著作権、肖像権、パブリシティ権その他財産権の表示を含む）の正確性及び完全性を保証することはできません。
        </li>
        <li class="my-1">
            本サービス上のコンテンツを使用する場合、ユーザーは本規約を遵守し、自己の責任において行うものとします。
        </li>
    </ul>
    あらかじめご了承の上ご利用ください。<br>
    <span class="text-secondary">※本規約は予告なく変更する場合があります。</span>
</section>

{% include 'common/footer.html' %}
