{# ヘッダー用メニュー #}
<ul>
    <li>
        <a href="/">
            TOP
        </a>
    </li>
    <li>
        <a href="/user_policy">
            利用規約
        </a>
    </li>
    <li>
        <a href="https://www.i-call.co.jp/contact" 
        class="external-link" 
        target="_brank" 
        {% if request.host == g.domain_name %}{# 本番環境でのみGoogle Analyticsにてイベント集計 #}
            onclick="gtag('event','visit_contact');"
        {% endif %}
        >
            お問い合わせ
        </a>
    </li>
</ul>