{% set sample_image_file_without_suffix = image_name.replace("-thumbnail", "") %}
<a href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" target="_blank">
    <img src="/images/{{ subfolder_name }}{{ thumbnail_folder }}/{{ image_name }}/{{ add_param }}" alt="{{ image_name }}" width="100%">
</a>
<div class="card-body">
    <a download 
    class="btn btn-dark d-block" href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
    onclick="gtag('event','download_image',{'url':'https://ai-gazou.com/images/{{ subfolder_name }}/{{ sample_image_file_without_suffix }}'});">
        ダウンロード
    </a>
</div>