{% set sample_image_file_without_suffix = image_name.replace("-thumbnail", "") %}
<a href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
target="_blank"
{% if request.host == g.domain_name %}{# 本番環境でのみGoogle Analyticsにてイベント集計 #}
    onclick="gtag('event','zoom_image',{'image_option':'{{ options|join('/') }}'});"
{% endif %}
>
    <img src="/images/{{ subfolder_name }}{{ thumbnail_folder }}/{{ image_name }}/{{ add_param }}" alt="{{ options|join('/') ~ "の高クオリティAI生成" ~ category ~ "画像" }}" width="100%">
</a>
<div class="card-body">
    {% if prompt %}
        <span class="d-block mb-3">
            {{ prompt }}
        </span>
    {% endif %}
    <a download 
    href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
    class="btn btn-dark d-block" 
    {% if request.host == g.domain_name %}{# 本番環境でのみGoogle Analyticsにてイベント集計 #}
        onclick="gtag('event','download_image',{'image_option':'{{ options|join('/') }}'});"
    {% endif %}
    >
        ダウンロード
    </a>
</div>