{% set sample_image_file_without_suffix = image_name.replace("-thumbnail", "") %}
<a href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
target="_blank"
{% if request.host == g.domain_name %}
    onclick="gtag('event','zoom_image',{'zoom_url':'https://{{ g.domain_name }}/images/{{ subfolder_name }}/{{ sample_image_file_without_suffix }}'});"
{% endif %}
>
    <img src="/images/{{ subfolder_name }}{{ thumbnail_folder }}/{{ image_name }}/{{ add_param }}" alt="{{ image_name }}" width="100%">
</a>
<div class="card-body">
    <a download 
    href="/images/{{ subfolder_name }}/{% if is_sample %}sample/{% endif %}{{ sample_image_file_without_suffix }}/{{ add_param }}" 
    class="btn btn-dark d-block" 
    {% if request.host == g.domain_name %}
        onclick="gtag('event','download_image',{'url':'https://{{ g.domain_name }}/images/{{ subfolder_name }}/{{ sample_image_file_without_suffix }}'});"
    {% endif %}
    >
        ダウンロード
    </a>
</div>