{# ヘッダー用メニュー #}
<ul>
    <li>
        <a href="/{{ g.url_parameter }}">
            TOP
        </a>
    </li>
    <li>
        <a href="/user_policy{{ g.url_parameter }}">
            利用規約
        </a>
    </li>
    <li>
        <a href="https://www.i-call.co.jp/contact?from_ai_image_lp=true" 
        class="external-link" 
        target="_brank" 
        {% if request.host == g.domain_name %}{# 本番環境でのみGoogle Analyticsにてイベント集計 #}
            onclick="gtag('event','visit_contact');"
        {% endif %}
        >
            お問い合わせ
        </a>
    </li>
</ul>